{<<"app">>,<<"em_filter">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Agent connectivity for Emergence system.">>}.
{<<"files">>,
 [<<"LICENSE.md">>,<<"README.md">>,<<"rebar.config">>,<<"rebar.lock">>,
  <<"src">>,<<"src/em_filter.app.src">>,<<"src/em_filter.erl">>,
  <<"src/em_filter_app.erl">>,<<"src/em_filter_server.erl">>,
  <<"src/em_filter_sup.erl">>]}.
{<<"licenses">>,[<<"Apache-2.0">>]}.
{<<"links">>,
 [{<<"GitHub">>,<<"https://github.com/EmergenceSystem/em_filter">>}]}.
{<<"name">>,<<"em_filter">>}.
{<<"requirements">>,
 [{<<"gun">>,
   [{<<"app">>,<<"gun">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"2.1.0">>}]}]}.
{<<"version">>,<<"1.2.4">>}.
