{<<"app">>,<<"sied">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,
 <<"High-performance SIMD operations for Erlang via Rust NIF using Rustler">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.md">>,<<"priv">>,<<"priv/crates">>,
  <<"priv/crates/sied">>,<<"priv/crates/sied/0.1.0">>,
  <<"priv/crates/sied/0.1.0/debug">>,
  <<"priv/crates/sied/0.1.0/debug/sied.dll">>,
  <<"priv/crates/sied/0.1.0/debug/sied.dll.exp">>,
  <<"priv/crates/sied/0.1.0/debug/sied.dll.lib">>,
  <<"priv/crates/sied/0.1.0/debug/sied.pdb">>,<<"priv/crates/sied/0.2.0">>,
  <<"priv/crates/sied/0.2.0/debug">>,
  <<"priv/crates/sied/0.2.0/debug/sied.dll">>,
  <<"priv/crates/sied/0.2.0/debug/sied.dll.exp">>,
  <<"priv/crates/sied/0.2.0/debug/sied.dll.lib">>,
  <<"priv/crates/sied/0.2.0/debug/sied.pdb">>,<<"priv/crates/sied/0.2.1">>,
  <<"priv/crates/sied/0.2.1/debug">>,
  <<"priv/crates/sied/0.2.1/debug/sied.dll">>,
  <<"priv/crates/sied/0.2.1/debug/sied.dll.exp">>,
  <<"priv/crates/sied/0.2.1/debug/sied.dll.lib">>,
  <<"priv/crates/sied/0.2.1/debug/sied.pdb">>,
  <<"priv/crates/sied/0.2.1/release">>,
  <<"priv/crates/sied/0.2.1/release/sied.dll">>,
  <<"priv/crates/sied/0.2.1/release/sied.dll.exp">>,
  <<"priv/crates/sied/0.2.1/release/sied.dll.lib">>,
  <<"priv/crates/sied/0.2.1/release/sied.pdb">>,<<"priv/crates/sied/0.2.2">>,
  <<"priv/crates/sied/0.2.2/debug">>,
  <<"priv/crates/sied/0.2.2/debug/sied.dll">>,
  <<"priv/crates/sied/0.2.2/debug/sied.dll.exp">>,
  <<"priv/crates/sied/0.2.2/debug/sied.dll.lib">>,
  <<"priv/crates/sied/0.2.2/debug/sied.pdb">>,<<"priv/crates/sied/0.2.3">>,
  <<"priv/crates/sied/0.2.3/release">>,
  <<"priv/crates/sied/0.2.3/release/sied.dll">>,
  <<"priv/crates/sied/0.2.3/release/sied.dll.exp">>,
  <<"priv/crates/sied/0.2.3/release/sied.dll.lib">>,
  <<"priv/crates/sied/0.2.3/release/sied.pdb">>,<<"priv/sied.dll">>,
  <<"rebar.config">>,<<"rebar.lock">>,<<"src">>,<<"src/crates.hrl">>,
  <<"src/sied.app.src">>,<<"src/sied.erl">>]}.
{<<"licenses">>,[<<"Apache-2.0">>]}.
{<<"links">>,[{<<"GitHub">>,<<"https://github.com/roquess/sied">>}]}.
{<<"name">>,<<"sied">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"0.2.4">>}.
